:root{
  --color-accent: #4d94d0;
  --color-background:#333 ;
}
@font-face {
  font-family: "ubuntu bold";
  src: url("./fonts/ubuntu-v11-latin-700.woff2");
}
@font-face{
  font-family: "ubuntu semibold";
  src: url('./fonts/ubuntu-v11-latin-500.woff2')
}
  body{
  width: 100%;
  height: 100%;
  background: var(--color-background);
}

.body-container{
  height: 100%;
  width: 100%;
  color: #ddd;
}
.body-container .logo-container{
  position: absolute;
  top: 100px;
  left: 100px;
  letter-spacing: .01rem;
}

.body-container .page-container.one-text{
  margin-top: 20%;
 
  text-align: center;
}
.body-container .page-container.one-text h1{
  font-family: 'ubuntu bold';
  letter-spacing: .2rem;
}
.body-container .page-container.one-text h2{
  font-family: 'ubuntu semibold';
  letter-spacing: .1rem;
}

